########################################################################################
# 参考: https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html
# 基本原则：尽量只设置静态参数（部分重要动态参数）

{% set mysql_home = grains['mysql_home'] %}
{% set server_id = grains['server_id'] %}
{% set buffer_pool_ratio = grains['buffer_pool_ratio'] %}
{% set mem_1024m_count = grains['mem_total']//1024 %}
{% set large_pages = grains['large_pages'] %}

{% if mem_1024m_count == 0 %}
  {% set mem_total = 1024 %}
{% else %}
  {% set mem_total = 1024 * mem_1024m_count %}
{% endif %}

########################################################################################
########################################################################################
########################################################################################
[mysqld]
{% if large_pages == 1 %}
large-pages=on
{% else %}
large-pages=off
{% endif %}
########################################################################################
# 基本参数

server-id={{ server_id }}
basedir='/usr/'
datadir='{{ mysql_home }}/data_dir'
innodb_data_home_dir='{{ mysql_home }}/innodb_data'
tmpdir='{{ mysql_home }}/tmp_dir'
innodb_log_group_home_dir='{{ mysql_home }}/innodb_log'
socket='{{ mysql_home }}/mysql.sock'
user=mysql
symbolic_links=1
sql_mode='NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ONLY_FULL_GROUP_BY'
default_storage_engine=innodb
innodb_file_per_table=1
lower_case_table_names=1
character-set-server=utf8

innodb_log_buffer_size=32M
innodb_log_file_size=1G
innodb_log_files_in_group=3

log_bin='{{ mysql_home }}/binlog_dir/mysql.bin'
binlog_format=mixed
expire_logs_days=2

# undo设置，参考：https://dev.mysql.com/doc/refman/5.6/en/innodb-undo-tablespace.html
innodb_undo_directory='{{ mysql_home }}/undo_dir'
innodb_undo_tablespaces=4
innodb_rollback_segments=128

innodb_print_all_deadlocks
max_sp_recursion_depth=255
log_error='{{ mysql_home }}/err.log'

########################################################################################
# 内存

innodb_buffer_pool_size={{(mem_total * buffer_pool_ratio)//1 }}M
innodb_buffer_pool_instances=2
innodb_page_size=16K

# 预热设置
innodb_buffer_pool_load_at_startup=0

table_definition_cache=1000
table_open_cache_instances=2
innodb_open_files=2000

########################################################################################
# 网络

# 监听地址
bind_address='*'

# 应对连接风暴时队列大小
back_log=100

skip_name_resolve=1

########################################################################################
# 安全

disconnect_on_expired_password=0
max_connect_errors=50

########################################################################################
# 并发

# auto increment锁模式：0（向后兼容）、1（锁到语句结束）、2（不加锁）
innodb_autoinc_lock_mode=1

# purge thread数量（最大32）
innodb_purge_threads=8

innodb_read_io_threads=4
innodb_write_io_threads=4

back_log=2000

########################################################################################
# Myisam

myisam_recover_options='force,backup'

########################################################################################
########################################################################################
########################################################################################
[client]
default_character_set = 'utf8'
socket='{{ mysql_home }}/mysql.sock'
port=3306
########################################################################################
########################################################################################
########################################################################################
[mysql]
default_character_set='utf8'
socket='{{ mysql_home }}/mysql.sock'
prompt='(\u@\h) [\d]>\_'
auto_rehash=0
