#!/bin/bash

{% set server_desc = grains['server_desc'] %}
{% set script_home = '/root/DBAScripts/backup' %}

DBUSR='xxx'
DBPWD='xxx'

ACTIVE_SESSS=$(mysql -u${DBUSR} -p${DBPWD} -s -L -N -D mysql -e "select monitor_activity();" 2>/dev/null)

if [ $ACTIVE_SESSS -ne 0 ]
then
  killall -g -w mysql_backup_job.sh
  python {{ script_home }}/wechat_priv.py backup_failed:db_lock:{{ server_desc }}
  exit 1
else
  :
fi
