#!/bin/bash

{% import './jinja2/common.j2' as common %}

{% set script_home = '/root/DBAScripts/backup' %}
{% set server_desc = grains['host'] %}

DBUSR='{{ common.db_back_username }}'
DBPWD='{{ common.db_back_password }}'

ACTIVE_SESSS=$(mysql -u${DBUSR} -p${DBPWD} -s -L -N -D mysql -e "select monitor_activity(10,21600);" 2>/dev/null)

if [ $ACTIVE_SESSS -ne 0 ]
then
  killall -g -w mysql_backup_job.sh
  python {{ script_home }}/wechat_priv.py backup_failed:db_lock:{{ server_desc }}
  exit 1
else
  :
fi
